* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Beau Rivage", cursive;
}

body {
    background: #000;
    color: white;
}

.nav {
    margin: 5px;
    justify-content: center;
    align-items: center;

    background: #000;
}

.nav a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(45, 13, 13);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

}

button:hover {

    box-shadow: 0 0 30PX 5PX rgba(237, 238, 239, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    transform: skewX(-30deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.nav .icon {
    display: none;
}



@media screen and (max-width: 600px) {
    .nav button:not(:first-child) {
        display: none;
    }

    .nav button.icon {
        float: right;
        display: block;
    }

    .nav a.icon {
        float: right;
        margin: 10px;
        display: block;
    }

}

@media screen and (max-width: 600px) {
    .nav.responsive {
        position: relative;
    }

    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav.responsive button {
        float: none;
        display: block;
        text-align: left;
    }
}

body .cont {
    text-align: center;

}

body .contact {
    margin: auto;
    margin-bottom: 20px;
    position: sticky;
    font-size: 30px;

    padding: 10px;
    display: block;
    height: 100vh;
    width: 50%;



    color: #fff;
    background: #000;
}

input[type=text],
select {
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 20px;

    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    background: black;

}

input[type=submit] {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    font-size: 20px;

    border-radius: 4px;
    cursor: pointer;
    background: black;
    color: #fff;
}

input[type=email] {

    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 20px;

    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    background: black;
}

form #fname:hover {
    box-shadow: 0 0 30PX 5PX rgba(237, 238, 239, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;

}

form #lname:hover {
    box-shadow: 0 0 30PX 5PX rgba(237, 238, 239, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;

}

form #Email:hover {
    box-shadow: 0 0 30PX 5PX rgba(237, 238, 239, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;

}

form #Gender:hover {
    box-shadow: 0 0 30PX 5PX rgba(237, 238, 239, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;

}

form #country:hover {
    box-shadow: 0 0 30PX 5PX rgba(237, 238, 239, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;

}

form #submit:hover {
    box-shadow: 0 0 30PX 5PX rgba(237, 238, 239, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;

}

.contact {
    box-shadow: 0 0 30PX 5PX rgba(237, 238, 239, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

@media (max-width:420px) {
    .cont {
        font-size: 25px;
    }

}